@value unit, font, font-size from "@jetbrains/ring-ui/components/global/global.css";

:global(.widget-body) {
  margin: 0;
  padding: calc(unit * 2);

  background: #fff;

  font-size: font-size;
}

.widget {
  composes: font;

  margin: 0;
  padding: 0;
}

.widgetFooter {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: white;
}

.userMultiTable {
  padding-bottom: calc(unit * 6);
}

.user-panel {
  margin-top: calc(unit * 2);
}

.property-form {
  margin-left: calc(unit * 4);
}

.property-table {
  margin-top: calc(unit * 2);
}

.banned-tag {
  margin-left: calc(unit);
  font-weight: normal;
}
